<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="laoyou.com.laoyou">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <!--打电话的权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 测试页面 -->
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- 登录、注册选择页面 -->
        <activity
            android:name=".activity.LoginOperationActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 登录页面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 注册页面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 忘记密码页面 -->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 发布话题页面 -->
        <activity
            android:name=".activity.ReleaseTopicActivity"
            android:screenOrientation="portrait">


        </activity>
        <!-- 发送验证码页面 -->
        <activity
            android:name=".activity.SendPhoneCodeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 完善资料页面 -->
        <activity
            android:name=".activity.OverInfoActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 实名认证页面 -->
        <activity
            android:name=".activity.CertificationActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 修改密码页面 -->
        <activity
            android:name=".activity.ChangePassWordActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 外链页面 -->
        <activity
            android:name=".activity.OutSideActivity"
            android:screenOrientation="portrait">

        </activity>
        <!-- wifi页面 -->
        <activity
            android:name=".activity.WifiActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 密码查询页面 -->
        <activity
            android:name=".activity.QueryActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 我的个人主页页面 -->
        <activity
            android:name=".activity.MyHomePageActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 他人主页详情资料页面 -->
        <activity
            android:name=".activity.OthersDetailsPageActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 评论页面 -->
        <activity
            android:name=".activity.MyCommentActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 我的相册页面 -->
        <activity
            android:name=".activity.MyPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoTheme"></activity>
        <!-- 个人主页页面 -->
        <activity
            android:name=".activity.HomePageActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 喜欢的游戏页面 -->
        <activity
            android:name=".activity.LikeGameActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 添加喜欢的游戏页面 -->
        <activity
            android:name=".activity.AddLikeGameActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 添加话题圈类型页面 -->
        <activity
            android:name=".activity.AddTopicTypeActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 网吧列表页面 -->
        <activity
            android:name=".activity.InternetCafLocationActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"></activity>
        <!-- 网吧详情页面 -->
        <activity
            android:name=".activity.InternetCafActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 游戏资讯页面 -->
        <activity
            android:name=".activity.GameInformationActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- 设置页面 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 话题圈页面 -->
        <activity
            android:name=".activity.TopicCircleActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 话题圈类型明细页面 -->
        <activity
            android:name=".activity.TopicTypeDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 话题圈评论详情页面 -->
        <activity
            android:name=".activity.TopicCommentDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 好友通讯录页面 -->
        <activity
            android:name=".activity.AddressbookActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 照片查看器页面 -->
        <activity
            android:name=".activity.PhotoViewerActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 参与的人页面 -->
        <activity
            android:name=".activity.ParticipationActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 我关注的话题圈页面 -->
        <activity
            android:name=".activity.MyNoticeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 创建群组页面 -->
        <activity
            android:name=".activity.MyCreateGroupActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 闪聊页面 -->
        <activity
            android:name=".activity.FlashChatActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 附近闪聊页面 -->
        <activity
            android:name=".activity.NearbyFlashChatActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 创建闪聊导语页面 -->
        <activity
            android:name=".activity.CreateFlashChatActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 创建闪聊填写资料页面 -->
        <activity
            android:name=".activity.FlashChatBasicsActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 创建闪聊选择话题类型页面 -->
        <activity
            android:name=".activity.FlashChatGambitActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 创建闪聊选择成员页面 -->
        <activity
            android:name=".activity.FlashChatMemberActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 照片选择框架页面 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- 高德地图定位Service-->
        <service android:name="com.amap.api.location.APSService"></service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="72d27102f03668ccc0d4444f616279b4"></meta-data>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0be1698f4a9d7e1300001f"></meta-data>

        <!-- 微信回调-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 腾讯IM -->
        <!--  消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE"></service>
        <!--  消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE"></service>
        <!--  离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!--  系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>


        <activity android:name=".tencent.ui.HomeActivity" />
        <activity
            android:name=".tencent.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".tencent.ui.SearchFriendActivity" />
        <activity android:name=".tencent.ui.AddFriendActivity" />
        <activity
            android:name=".tencent.ui.ProfileActivity"
            android:launchMode="singleTask" />
        <activity android:name=".tencent.ui.ManageFriendGroupActivity" />
        <activity android:name=".tencent.ui.VideoActivity" />
        <activity android:name=".tencent.ui.CreateGroupActivity" />
        <activity
            android:name=".tencent.ui.GroupProfileActivity"
            android:launchMode="singleTask" />

        <activity android:name=".tencent.ui.ImageViewActivity" />
        <activity android:name=".tencent.ui.EditActivity" />
        <activity android:name=".tencent.ui.SearchGroupActivity" />
        <activity android:name=".tencent.ui.ApplyGroupActivity" />
        <activity android:name=".tencent.ui.GroupManageMessageActivity" />
        <activity android:name=".tencent.ui.FriendshipManageMessageActivity" />
        <activity android:name=".tencent.ui.GroupListActivity" />
        <activity android:name=".tencent.ui.ChooseFriendActivity" />
        <activity android:name=".tencent.ui.GroupMemberActivity" />
        <activity
            android:name=".tencent.ui.customview.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".tencent.ui.GroupMemberProfileActivity" />
        <activity android:name=".tencent.ui.FriendshipHandleActivity" />
        <activity android:name=".tencent.ui.AboutActivity" />
        <activity android:name=".tencent.ui.BlackListActivity"></activity>
        <activity android:name=".tencent.ui.ImagePreviewActivity"></activity>
        <activity android:name=".tencent.ui.MessageNotifySettingActivity"></activity>
        <!-- 腾讯IM -->
        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0be1698f4a9d7e1300001f" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>